body {
  background: black;
}


.sun {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: #FC9918;
  box-shadow: 2px 2px 20px #FFC900;
}

.p1 {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  position: absolute;
  background-color: #F0ECE3;
  box-shadow: 1px 1px 20px #F0ECE3;
}

.p2 {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: absolute;
  background-color: #FFC900;
  box-shadow: 3px 3px 20px #F0ECE3;
}

.p3 {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #90AACB;
  box-shadow: 3px 3px 20px #90AACB;
}


.p4{
  border-radius: 50%;
  width: 11px;
  height: 11px;
  position: absolute;
  background-color: #D57E7E;
  box-shadow: 3px 3px 20px #D57E7E;
}

.p5{
  border-radius: 50%;
  width: 3px;
  height: 3px;
  position: absolute;
  background-color: #F0ECE3;
  box-shadow: 3px 3px 20px #F0ECE3;
}

.p6{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: #ECAC5D;
  box-shadow: 3px 3px 20px #ECAC5D;
}

.p7{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #EED6C4;
  box-shadow: 3px 3px 20px #EED6C4;;
}

.p8{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #94B3FD;
  box-shadow: 3px 3px 20px #94B3FD;
}

.p9{
  border-radius: 50%;
  width: 16px;
  height: 16px;
  position: absolute;
  background-color: #94DAFF;
  box-shadow: 3px 3px 20px #94DAFF;
}

.p10{
  border-radius: 50%;
  width: 5px;
  height: 5px;
  position: absolute;
  background-color: #F0ECE3;
  box-shadow: 3px 3px 20px #F0ECE3;
}

.p11{
  border-radius: 50%;
  width: 3px;
  height: 3px;
  position: absolute;
  background-color: #F0ECE3;
  box-shadow: 3px 3px 20px #F0ECE3;
}
