body {
    background-color: #d3e4cd;
    padding: 10%;
    font-size: 1.5em;
    font-family: fantasy;
    text-shadow: 2px 2px 10px rgb(219, 107, 107);
}

.main_header img {
    display: inline-block;
    height: 40%;
    width: 40%;
    border-radius: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 5px 5px 20px #111410;
}

.main_header {
    background-color: #5eaaa8;
    border-radius: 10%;
    margin-bottom: 10%;
    padding: 1%;
    text-align: center;
    box-shadow: 5px 5px 20px #111410;
}

.webAccess {
    margin: 10%;
    border-radius: 50%;
    background-color: #C2FFF9;
    padding: 5%;
    box-shadow: 2px 2px 10px #C2FFF9;
}

.webAccess a {
    margin: 1%;
    border-radius: 20%;
    background-color: #FFE652;
    padding: 1%;
    display: inline-flex;
    color: #5C3C10;
    box-shadow: 3px 3px 10px lightcoral;
}

.webAccess :hover {
    background-color: #F7A440;
    color: #ECFBFC;
}

.about {
    background-color: #5eaaa8;
    border-radius: 40%;
    padding: 10%;
    margin: 10%;
    text-align: center;
    box-shadow: 5px 5px 20px #111410;
}

.additional {
    margin: 1%;
    padding: 1%;
    text-align: left;
    font-size: 1em;
}

.ordered ol {
    text-align: left;
    border-style: inherit;
    padding: 2%;
    margin: 2%;
    box-shadow: 5px 5px 20px #111410;
    border-radius: 1%;
}

.ordered h4 {
    margin: 1%;
    padding: 1%;
    font-size: 1.5em;
}

.unordered ul {
    border-style: inherit;
    padding: 2%;
    margin: 2%;
    box-shadow: 5px 5px 20px #111410;
    border-radius: 1%;
}

.unordered h4 {
    margin: 1%;
    padding: 1%;
    font-size: 1.5em;
}

.circle {
    position: absolute;
    z-index: 5;
    background: #005E7C;
    border-radius: 50%;
    left: 300px;
    top: 600px;
    width: 200px;
    height: 200px;
}

.text p {
    text-align: center;
    border-radius: 50%;
    background: #1CA2BB;
    padding: 10px;
    margin: 10px;
    color: #FCF9F9;
}

.anotherCircle {
    position: absolute;
    z-index: 5;
    background: #1CA2BB;
    border-radius: 50%;
    left: 300px;
    top: 200px;
    width: 200px;
    height: 200px;
}

.thirdCircle {
    position: absolute;
    z-index: 5;
    background: #658361;
    border-radius: 50%;
    left: 500px;
    top: 420px;
    width: 200px;
    height: 200px;
}

.fourthCircle {
    position: absolute;
    z-index: 5;
    background: #4A3333;
    border-radius: 50%;
    left: 100px;
    top: 420px;
    width: 200px;
    height: 200px;
}

.fifthCircle {
    position: absolute;
    z-index: 5;
    background: #F2FECA;
    border-radius: 50%;
    left: 200px;
    top: 500px;
    width: 200px;
    height: 200px;
}

.seventhCircle {
    position: absolute;
    z-index: 5;
    background: #B05E27;
    border-radius: 50%;
    left: 200px;
    top: 300px;
    width: 200px;
    height: 200px;
}

.eightCircle {
    position: absolute;
    z-index: 5;
    background: #889EAF;
    border-radius: 50%;
    left: 400px;
    top: 500px;
    width: 200px;
    height: 200px;
}

.ninethCircle {
    position: absolute;
    z-index: 5;
    background: #E98580;
    border-radius: 50%;
    left: 400px;
    top: 300px;
    width: 200px;
    height: 200px;
}