#map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
}

.map-overlay {
    position: relative;
    left: 0;
    padding: 0;
}

#mit {
    margin-bottom: 20px !important;
    padding-bottom: 8px !important;
}